--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
rich
flask
python-dotenv
scikit-learn==1.6.1
librosa
gpustat
wandb
joypy
seaborn
matplotlib
hydra-core
omegaconf
peft==0.15.2
transformers==4.51.3
accelerate==1.6.0
datasets==3.5.0
evaluate==0.4.3
einops==0.8.1
jiwer==3.1.0
Cython
bitsandbytes==0.45.5
lightning==2.5.1.post0
lhotse==1.30.3
sentencepiece==0.2.0
webdataset==0.2.111
editdistance==0.8.1
zhconv==1.4.3
soundfile==0.13.1
kokoro>=0.9.4
https://github.com/pyannote/pyannote-audio/archive/refs/tags/3.3.1.tar.gz
git+https://github.com/ExtraOrdinaryLab/AudioAugment.git
git+https://github.com/facebookresearch/WavAugment.git
nemo_toolkit@git+https://github.com/NVIDIA/NeMo.git@v2.2.1
nvidia-cublas-cu12
nvidia-cudnn-cu12